{% extends 'videos/base.html'%}
{% block active %}
<li class="active"><a href="{% url 'videos:index' %}"><span class="glyphicon glyphicon-film" aria-hidden="true"></span>&nbsp;Videos</a></li>
<li class=""><a href="{% url 'videos:yuploads' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Your Uploads</a></li>
{% endblock %}

{% block body %}

<style>
  .list-group-item{
    display: inline-block;
    padding: 1%;
    margin: 1%;
  }
  video{
    height: 200px;
    width: 300px;
    border: none;
  }
  .container{
    margin-left: 2%;
    margin-right: 2%;
    width: 95%;
  }

</style>

{% if p %}
  <center><h1 style="padding:18%">{{p}}</h1></center>
{% endif %} 
{% if x %}
<div class="container">
<ul class="list-group">
  {% for y in x %}
 <li class="list-group-item">
   <a href="{{y.file_file.url}}">
   <video width="320" height="240" preload="metadata">
   <source src="{{y.file_file.url}}">
  </video>
   <p><h4>{{y.video_title}}</h4></p>
   <p><b><h6>Uploaded by: {{y.owner}}</h6></b></p>
 </a>
</li>
 {% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}
